.medroots {
  animation: med 4s 1 forwards; 
}

@keyframes med {
  0% {
    transform: translate(10%,0% );
  }
  50% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(0%,0%);
  }
}

.summit {
  animation: sum 4s 1 forwards; 
}

@keyframes sum {
  0% {
    transform: translate(-10%,0% );
  }
  50% {
    transform: translate(100%, 0%);
  }
  100% {
    transform: translate(0%,0%);
  }
}

.tree{
        animation: imgg 4s 1 forwards;
}
@keyframes imgg {
    0% {
        opacity: 0;
        scale: 0;
    }

    50% {
        opacity: 0.5;
        scale: 1.1;
    }

    100% {
        opacity: 1;
        scale: 1;


    }
}
